{% extends 'admin/layout.html.j2' %}
{% from 'admin/_macros.j2' import form_errors, field_errors, checkfield %}

{% block title %}Admin{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<h1 class="page-header">Admin</h1>

<div class="row">
  <i>Hello!</i>
</div>
{% endblock %}

{% block body %}{% endblock %}
