{% extends 'admin/layout.html.j2' %}
{% from 'admin/_macros.j2' import form_errors, field_errors, checkfield %}

{% block title %}All Posts{% endblock %}

{% block sidebar %}
<li><a href="{{ url_for('blogSettings') }}">Blog Settings</a></li>
<li class="active"><a href="#">All Posts <span class="sr-only">(current)</span></a></li>
<li><a href="{{ url_for('newPost') }}">Create Post</a></li>
<li><a href="{{ url_for('categories') }}">Categories</a></li>
{% endblock %}

{% block content %}
<h1 class="page-header">All Posts <a href="{{ url_for('newPost') }}" class="btn btn-success pull-right">Create Post</a><a href="{{ url_for('blog') }}" class="btn btn-info pull-right" style="margin-right:8px">View Blog</a></h1>

{# TODO: Sort by form that changes query order_by #}

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Published</th>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th>Category</th>
          <th>Tags</th>
          <th>Author</th>
          <th>Path</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td>
            {% if post.published %}
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% endif %}
            </td>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.datePublished.strftime('%m/%d/%Y') }}</td>
            <td>{{ post.categories.name }}</td> {# TODO: Click this to view all posts in category #}
            <td>
              {% if post.tags %}
                {% for tag in post.tags %}
                    {{ tag }}{{ "," if not loop.last }}
                {% endfor %}
              {% endif %}
            </td>
            <td><span data-toggle="tooltip" data-placement="top" title="{{ post.users.first_name }} {{ post.users.last_name }}">{{ post.author }}</span></td> {# TODO: Link to profile #}
            <td><a href="#not-implimented"><i style="color:#999">BLOG</i> /{{ post.slug }}</a></td>
            <td>
              <a href="{{ url_for('blog-canonical', slug=post.slug) }}" class="btn btn-primary btn-xs btn btn-success">View/Edit</a>
              <a href="{{ url_for('editPost', id=post.id) }}" class="btn btn-primary btn-xs btn btn-info">Settings</a>
              <button type="button" data-toggle="modal" data-target=".delete-confirm-{{ post.id }}" class="btn btn-primary btn-xs btn-danger">Delete</button>
              <div class="modal fade delete-confirm-{{ post.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                      This will permanately delete the page, <b>{{ post.title }}</b>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a href="{{ url_for('deletePost', id=post.id) }}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block body %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
