{% extends 'admin/layout.html.j2' %}
{% from 'admin/_macros.j2' import form_errors, field_errors, checkfield %}

{% block title %}Create Page{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Create Page <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Page Manager</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Create Page</h1>

      <div class="row">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group {{ checkfield(form.title) }}">
              {{ form.title.label }}
              {{ form.title(class='form-control') }}
              {{ field_errors(form.title) }}
            </div>
            <div class="form-group {{ checkfield(form.description) }}">
              {{ form.description.label }}
              {{ form.description(class='form-control') }}
              {{ field_errors(form.description) }}
            </div>
            <div class="form-group {{ checkfield(form.path) }}">
              {{ form.path.label }}
              {{ form.path(value='/', class='form-control') }}
              {{ field_errors(form.path) }}
            </div>
            <input type="submit" value="Create" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
