{% extends 'admin/layout.html.j2' %}
{% from 'admin/_macros.j2' import form_errors, field_errors, checkfield %}

{% block title %}Create Post{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
<li><a href="{{ url_for('blogSettings') }}">Blog Settings</a></li>
<li><a href="{{ url_for('listPosts') }}">All Posts</a></li>
<li class="active"><a href="#">Create Post <span class="sr-only">(current)</span></a></li>
<li><a href="{{ url_for('categories') }}">Categories</a></li>
{% endblock %}

{% block content %}
<h1 class="page-header">Create Post</h1>

<i>The content of the post is edited in the post page. It will not be published until you flip the published switch. If you set a post's date in the future <b>and</b> publish it, it will not publish until that date. Also take note the server is running on UTC time.</i>
<hr />

<div class="row">
  <form method="POST" action="" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form-group {{ checkfield(form.title) }}">
        {{ form.title.label }}
        {{ form.title(class='form-control') }}
        {{ field_errors(form.title) }}
      </div>
      <div class="form-group {{ checkfield(form.description) }}">
        {{ form.description.label }}
        {{ form.description(class='form-control') }}
        {{ field_errors(form.description) }}
      </div>
      <div class="form-group {{ checkfield(form.category) }}">
        {{ form.category.label }}
        {{ form.category(class='form-control') }}
        {{ field_errors(form.category) }}
      </div>
      <div class="form-group {{ checkfield(form.date) }}">
        {{ form.date.label }}
        <div class="input-group date">
          {{ form.date(id='date', class='form-control') }}
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        {{ field_errors(form.date) }}
      </div>
      <div class="form-group {{ checkfield(form.tags) }}">
        {{ form.tags.label }}
        {{ form.tags(id='tags', placeholder='Press Enter to add') }}
        {{ field_errors(form.tags) }}
      </div>
      <div class="form-group {{ checkfield(form.image) }}">
        {{ form.image.label }}
        {{ form.image }}
        {{ field_errors(form.image) }}
      </div>
      <input type="submit" value="Create" class="btn btn-default">
  </form>
</div>
{% endblock %}

{% block body %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$( document ).ready(function() {
  $('#tags').tokenfield()
  $('#date, .input-group.date').datepicker({
    todayHighlight: true
  });
});
</script>
{% endblock %}
