{% extends 'admin/layout.html.j2' %}
{% from '_macros.j2' import form_errors %}

{% block title %}Create Category{% endblock %}

{% block body %}
<form method="POST" action="">
    {{ form_errors(form) }}
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    <input type="submit" value="Create">
</form>
{% endblock %}
