{# Edit post data with link to edit post within template #}
{# Uses http://getcontenttools.com/tutorials/content-tools-plus-cms #}

{% extends "admin/layout.html.j2" %}

{% block title %}Edit Post - Myonic Admin{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content-tools/editor.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content-tools/content-tools.min.css') }}">
{% endblock %}


{% block body %}
<br />
<br />
<a href="{{ url_for('blog', blog=blog) }}">Back</a>
<h1>Editing {{ post.title }} in {{ blog }}</h1>
<form method="POST" action="">
    {{ form_errors(form) }}
    <br />
    {{ form.csrf_token }}
    <br />
    {{ form.description.label }} <br /> {{ form.description(value=post.description) }}
    <br />
    {{ form.date.label }} <br /> {{ form.date(value=post.datePublished.strftime('%b %d, %Y at %-I:%M %p')) }}
    {# NOTE: Could use default date formatting but the strftime is more human-readable (http://strftime.org/) #}
    {# TODO: Figure out how to edit in client timezone and convert back to UTC #}
    <br />
    {{ form.image.label }} <br /> {{ form.image(value=post.image) }}
    <br />
    {{ form.author.label }} <br /> {{ form.author(value=post.author) }}
    <br />
    {{ form.category.label }} <br /> {{ form.category(value=post.category) }}
    <br />
    {{ form.blog(value=blog) }}
    <input type="submit" value="Create">
</form>

{% endblock %}
