{% extends "admin/layout.html.j2" %}

{% block title %}Myonic Admin{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<br />
<br />
<a href="{{ url_for('listBlogs') }}">Blogs</a>
{% endblock %}
