{% extends "admin/layout.html.j2" %}

{% block title %}Create New Post - Myonic Admin{% endblock %}

{% block body %}
<br />
<br />
<a href="{{ url_for('blog', blog=blog) }}">Back</a>
<h1>Create new post for {{ blog }}</h1>

<form method="POST" action="">
    {{ form_errors(form) }}
    <br />
    {{ form.csrf_token }}
    <br />
    {{ form.title.label }} <br /> {{ form.title }}
    <br />
    {{ form.description.label }} <br /> {{ form.description }}
    <br />
    {{ form.date.label }} <br /> {{ form.date(value=now.strftime('%b %d, %Y at %-I:%M %p')) }}
    {# NOTE: Could use default date formatting but the strftime is more human-readable (http://strftime.org/) #}
    {# TODO: Figure out how to edit in client timezone and convert back to UTC #}
    <br />
    {{ form.image.label }} <br /> {{ form.image }}
    <br />
    {{ form.author.label }} <br /> {{ form.author(value=current_user.email) }}
    <br />
    {{ form.category.label }} <br /> {{ form.category }}
    <br />
    {{ form.blog(value=blog) }}
    <input type="submit" value="Create">
</form>
{% endblock %}
