{% extends 'admin/layout.html.j2' %}
{% from 'admin/_macros.j2' import form_errors, field_errors, checkfield %}

{% block title %}Blog Settings{% endblock %}

{% block sidebar %}
<li class="active"><a href="#">General Settings <span class="sr-only">(current)</span></a></li>
<li><a href="{{ url_for('navbarSettings') }}">Navbar</a></li>
{% endblock %}

{% block content %}
<h1 class="page-header">Site Settings</h1>

<div class="row">
  <i>There are currently no settings to be edited</i>
</div>
{% endblock %}

{% block body %}{% endblock %}
