{% macro form_errors(form) -%}
  <ul class="form_errors">
  {% for field in form %}
      {% if field.errors %}
          {% for error in field.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
{%- endmacro %}

{% macro checkfield(field) -%}
  {% if field.errors %}
      has-error
  {% endif %}
{%- endmacro %}
